{% extends 'base.html' %}

{% block title %}
  Доставка - GreenLine
{% endblock %}
{% block meta_description %}
  Оформить быстрый вывоз мусора
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/delivery.css') }}" />
{% endblock %}

{% block content %}
  <header>
    <a href="{{ url_for('index') }}">На главную</a>
    <p class="title-page">Доставка</p>
  </header>

  <div class="content">
    <div class="buttons">
      <button style="cursor: pointer;" id="open-order-popup">Заказать</button>
      <button style="cursor: pointer;" id="open-history-popup">История</button>
      <button style="cursor: pointer;" id="open-active-popup">Активные</button>
    </div>
    <div class="ellipse"></div>
  </div>

  <div class="popup" id="delivery-popup">
    <div class="popup-container">
      <div class="popup-body">
        <p>Заказать</p>
        <form id="order-form">
          <input name="delivery-address" type="text" placeholder="Адрес" required />
          <input name="delivery-date" type="datetime-local" required />
          <input name="delivery-weight" type="number" placeholder="Приблизительный вес (кг)" required />
          <input name="delivery-description" type="text" placeholder="Описание" />
          <button type="submit">Оформить</button>
          <a class="close-popup" style="cursor: pointer;">Закрыть</a>
        </form>
      </div>
    </div>
  </div>

  <div class="popup" id="history-popup">
    <div class="popup-container">
      <div class="popup-body">
        <p>История заказов</p>
        <div id="history-content" class="orders-container">
          <div class="loading">Загрузка...</div>
        </div>
        <a class="close-popup" style="cursor: pointer;">Закрыть</a>
      </div>
    </div>
  </div>

  <div class="popup" id="active-popup">
    <div class="popup-container">
      <div class="popup-body">
        <p>Активные заказы</p>
        <div id="active-content" class="orders-container">
          <div class="loading">Загрузка...</div>
        </div>
        <a class="close-popup" style="cursor: pointer;">Закрыть</a>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/delivery_popups.js') }}"></script>
{% endblock %}
