{% extends 'base.html' %}

{% block title %}
  GreenLine - Главная
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
{% endblock %}

{% block content %}
  <div class="container">
    <div class="sidebar">
      <img src="{{ url_for('static', filename='imgs/forest.jpg') }}" alt="Лес" />
    </div>
    <div class="content">
      <header>
        <a href="{{ url_for('index') }}" class="logo">GreenLine</a>
      </header>
      <div class="upper">
        <div class="burger" id="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="buttons">
          <a id="orderButton" href="#" name="delivery_button">доставка</a>
          <a id="contactButton" href="{{ url_for('contacts') }}">контакты</a>
          <a id="infoButton" href="{{ url_for('info') }}">информация</a>
        </div>
      </div>
      <div class="other">
        <div class="other-title">
          <h1 class="welcome">Добро пожаловать</h1>
          <h2 class="text">На молодёжный проект города Москва. Этот сайт был создан для упрощения процесса сдачи мусора на переработку. Здесь вы можете создать заявку на отправление ваших переробатываемых материалов. Удобная логистика, быстрая доставка, приветливые работники - все это про наш сайт.</h2>
        </div>
        <div class="border-ex-inf">
          <a class="ex-info" href="{{ url_for('ex_info') }}">Подробнее о проекте</a>
        </div>
      </div>
      <div class="ellipse"></div>
    </div>
  </div>
  <div id="register-popup" class="register-popup">
    <div class="register-popup-container">
      <div class="register-popup-body">
        <p>Регистрация</p>
        <form method="post" action="{{ url_for('register') }}" class="reg-popup-form">
          <input name="register-name" type="text" placeholder="Имя" />
          <input name="register-surname" type="text" placeholder="Фамилия" />
          <input name="register-email" type="email" placeholder="Почта" />
          <input name="register-password" type="password" placeholder="Пароль" />
          <input name="register-rep-password" type="password" placeholder="Повтор пароля" />
          <button type="submit">Зарегистрироваться</button>
        </form>
        <a id="changeButton" class="reg-change" href="#">Есть аккаунт?</a>
        <a class="close-popup" href="#">Закрыть</a>
      </div>
    </div>
  </div>
  <div class="auth-popup">
    <div class="auth-popup-container">
      <div class="auth-popup-body">
        <p>Авторизация</p>
        <form method="post" action="auth" class="auth-popup-form">
          <input name="auth-mail" type="email" placeholder="Почта" />
          <input name="auth-password" type="password" placeholder="Пароль" />
          <button name="auth-button" type="submit">Авторизоваться</button>
        </form>
        <a id="changeButton" class="reg-change" href="#">Нет аккаунта?</a>
        <a class="close-popup" href="#">Закрыть</a>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/login_popup.js') }}"></script>
{% endblock %}
