{% extends 'base.html' %}

{% block title %}
  GreenLine - Главная
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
{% endblock %}

{% block content %}
  <div class="container">
    <div class="sidebar">
      <img src="{{ url_for('static', filename='imgs/forest.jpg') }}" alt="Лес" />
    </div>
    <div class="content">
      <header>
        <a href="{{ url_for('main') }}" class="logo">GreenLine</a>
      </header>
      <div class="upper">
        <div class="buttons">
          <a id="order-button" href="{{ url_for('login') }}" name="delivery_button">доставка</a>
          <a id="contact-button" href="{{ url_for('contacts') }}">контакты</a>
          <a id="statistic-button" href="{{ url_for('info') }}">информация</a>
        </div>
      </div>
      <div class="other">
        <div class="other-title">
          <h1 class="welcome">Добро пожаловать</h1>
          <h2 class="text">На молодёжный проект города Москва. Этот сайт был создан для упрощения процесса сдачи мусора на переработку. Здесь вы можете создать заявку на отправление ваших переробатываемых материалов. Удобная логистика, быстрая доставка, приветливые работники - все это про наш сайт.</h2>
        </div>
        <div class="border-ex-inf">
          <a class="ex-info" href="{{ url_for('ex_info') }}">Подробнее о проекте</a>
        </div>
      </div>
      <div class="ellipse"></div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/login_popup.js') }}"></script>
{% endblock %}
